%tr{:class => stack_event_item.resource_status_reason.to_s.downcase.include?('fail') ? 'danger' : '', 'data-id' => stack_event_item.id}
  %td= stack_event_item.time
  %td= stack_event_item.resource_logical_id
  %td= stack_event_item.resource_status
  %td= stack_event_item.resource_status_reason
