:javascript
  $(document).ready(function(){
    window_rails.loading.open({title: "Initializing stack (#{@stack_name})", style: "progress"});
    sparkle_ui.create.poll_availability("#{wait_sparkle_stacks_path(:stack_name => @stack_name)}", "#{sparkle_stacks_path}");
  });