.sparkle-pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 0.1em;
  cursor: default;
}
.sparkle-pagination .pagination {
  margin: 0;
}

.sparkle-pagination a, .sparkle-pagination span {
  padding: 0.2em 0.3em;
}

.sparkle-pagination .disabled {
  color: #aaaaaa;
}

.sparkle-pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.sparkle-pagination a {
  text-decoration: none;
  color: black;
}

.sparkle-pagination a:hover, .sparkle-pagination a:focus {
  text-decoration: none;
}
